/* You can add global styles to this file, and also import other style files */
/* colors
dark-purple = #581845
darker-purple = #3d0c2f
*/
html {
  font-size: 16px;
}
body {
  background-color: #581845;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 6px10px;
  }
}
